.navbar {
    background-color: #4a48ef;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-list {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.navbar-list li {
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar-list li:hover {
    color: #ff8c00;
}

.navbar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
}