/* Estilos para el contenedor de la imagen */
.container-img {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	background-color: #939adb;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para la imagen */
.profile-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
	border: 5px solid rgb(249, 248, 248);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

/* Aseguramos que el contenedor sea responsivo */
@media (max-width: 768px) {
	.container-img {
		width: 150px;
		height: 150px;
	}

	.profile-img {
		width: 100%;
		height: 100%;
	}
}

.contact-logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20%;
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  -ms-border-radius: 20%;
  -o-border-radius: 20%;
  border-color: rgb(0, 0, 255);
}
