.container-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    padding: 20px;
    background-color: #f4f4f4; 
    border-radius: 8px; 
    max-width: 400px; 
    margin: 0 auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.container-img img {
    width: 100px; 
    height: auto;
    border-radius: 4px; 
    transition: transform 0.3s ease; /
}

.container-img img:hover {
    transform: scale(1.1); 
}
