/* Estilo general para Home */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #d7f3f3;
}

/* Estilo para ContainerSections */
.ContainerSections {
    width: 90%;
    max-width: 800px;
    margin-bottom: 40px;
    padding: 20px;
    background-color: hsl(190, 59%, 56%);
    border-radius: 8px;
    box-shadow: 0 4px 12px #2964ac1a;
    transition: background-color 0.3s ease;
    animation: fadeIn 1s ease-out;
}

.ContainerSections:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    background-color: hsl(190, 59%, 65%);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Encabezados */
h2 {
    font-size: 1.8rem;
    color: #1f1d1d;
    text-align: center;
    margin-bottom: 20px;
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* Párrafos */
p {
    font-size: 1rem;
    line-height: 1.6;
    color: #605c5c;
    text-align: justify;
    margin-top: 10px;
    font-weight: bold;
}

/* Estilo para la imagen de perfil en IntroProfile */
.ContainerSections .container-img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}

.ContainerSections .container-img img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Estilo para la tarjeta de presentación */
.business-card {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 20px 0;
}

.business-card h3 {
    font-weight: bold;
    color: #1f1d1d;
    margin: 10px 0;
}

.business-card p.title {
    font-weight: bold;
    color: #2964ac;
    margin: 5px 0;
}

.business-card p.contact {
    font-weight: normal;
    color: #605c5c;
    margin: 5px 0;
}

.business-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    transition: all 0.3s ease;
}

.business-card img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Efecto en los botones */
button {
    background-color: #2964ac;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #1e4e73;
    transform: scale(1.1);
}

/* Efecto de enfoque en los campos de entrada */
input:focus, textarea:focus {
    outline: none;
    border: 2px solid #2964ac;
    box-shadow: 0 0 5px rgba(41, 100, 172, 0.5);
    transition: all 0.3s ease;
}

.ContainerSections .contact-me {
    width: 100%;
    background-color: red;
}
